{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form class="container text-center" method="POST" action="/auth/register">
    {{ form.hidden_tag() }}
    <div class="form-group auth-form mx-auto">
        {{ form.username.label }}
        {{ form.username(class_="form-control") }}
    </div>
    <div class="form-group auth-form mx-auto">
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
    </div>
    <div class="form-group auth-form mx-auto">
        {{ form.confirm.label }}
        {{ form.confirm(class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}